body{
    font-family: 'Inter';
   
 }
 
 
 h1{
    font-style: italic;
    font-size: 4rem;
    font-weight: 400;
    text-align: center;
    margin-top: 150px;
 }
 
 
 .text{
    display: flex;
    margin: auto;
    border-radius: 10px;
    width: 500px;
    padding: 15px;
    margin-top: 53px;
    background-color: rgb(217, 217, 217);
    color: black;
    font-size: 1rem;
 
 
 }
 
 
 .check{
    margin-left: 33.5em;
    margin-top: 4em;
 }
 
 