body{
    background-color: white;
    color: black;
   
  }
  h1{
    display: block;
    font-size: 4rem;
    font-family: "Inter";
    text-align: center;
    margin-top: 90px;
    text-shadow: 1 2px 4px rgba(0.0,0,0.1) ;
    font-weight: 400;
    font-style: italic;
   
  }
 
 
 
 
   .text{
    display: flex;
    padding: 15px ;
    width: 50% ;
    margin: auto;
    border-radius: 100px;
    margin-top: 53px;
    background-color: rgb(217, 217, 217);
    color:black;
    font-family: "Inter";
    font-size: 1rem;
  
 
 
  
  }
   .continue-button{
    cursor: pointer;
    margin-left: 77em;
    margin-top: 20px;
    width: 50px ;
   
   
  }
  
 