body{
    font-family: 'Inter';
    background-color: white;
    text-align: center;
    margin: 0;
 }
 h1{
    display: block;
    margin-top: 90px;
    text-align: center;
    font-style: italic;
    font-size: 4rem;
    font-weight: 400;
    text-shadow: 1 2px 4px rgba(0.0,0,0.1)
 }
 
 
 .description{
    display: flex;
    justify-content: center;
    align-items: flex-start; /*align items at the top*/
    gap: 20px; /* space between mentor and mentee boxes */
    padding: 20px;
 }
 
 
 .mentor, .mentee{
    width: 300px;
    height: 400px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 30px;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: 200;
 }
 
 
 
h2{
    margin-top: 0;
 }
 
 
 ul {
    text-align: left;
 }
 
 
 .button{
    background-color: #5f5e5e;
    color:white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
 }
 
 
 .button:hover{
    background-attachment: #555;
 }
 