.body-dance {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-shadow: none;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dance {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-right: 10px;
}

.add-button-d {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dance-list {
    list-style-type: none;
    padding: 0;
}

.dance-item {
    background-color: white;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-shadow: none;
}

.text-d {
    flex-grow: 1;
}

.delete-button-d {
    cursor: pointer;
    color: #ff0000;
    font-weight: bold;
}