.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    margin-top: 10px;
}

.nav-rangz {
    font-style: italic;
    font-size: 36px; 
}

.menu {
    display: flex;
    gap: 40px; 
    margin: 0;
    padding: 0;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 27px; 
}

.menu a:hover {
    text-decoration: underline;
}

.nav {
    font-family: monospace;
}
