.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.132);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99; 
}
/* z index blurs out the backgroup when popup shows up */
.modalContainer {
    background-color: white;
    width: 800px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.modalHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
    position: relative;
}

.modalTitle {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding-right: 30px;
    font-family: "Inter";
    text-shadow: none;

}

.closeBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
}

.contentBox {
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    min-height: 100px;
}

.editIcon {
    float: right;
    cursor: pointer;
}



/* .editBtn {
    width: fit-content;
    height: fit-content;
    background-color: #f0f0f0;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
} */

