.body-rangz {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    font-family: "Inter";
    width: 100%;
    height: 100%;
}

.upper-rangz{
    background-color: #000;
    color: #fff;
    padding: 40px 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.rangz-logo{
    width: 600px;
    height: 480px;
    margin-bottom:10px;
    border-radius: 100%;

    
}

.upper-rangz h1{
    font-size: 4rem;
    font-weight: 500;
    font-style: italic;
    font-family:monospace;
    text-shadow: 4px 4px 6px rgba(255,255,255,0.5);
    color: white;
    margin-top: -15px;
    text-align: center;

    
}

.buttons-rangz {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust this value to increase or decrease the gap */
  }

.buttons-rangz button {
    background-color: #333333; /* Dark gray background */
    color: white; /* White text */
    border: none;
    border-radius: 8px; /* Rounded corners */
    padding: 12px ; /* Vertical and horizontal padding */
    font-size: 16px; /* Adjust as needed */
    margin: 0 10px; /* Space between buttons */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth hover effect */
    width: 180px;
    margin: auto;
    
  }

.buttons-rangz button:hover {
    background-color: #444444; /* Slightly lighter on hover */
}

.buttons-rangz button a {
    color: white;
    text-decoration: none;
  }

button:hover{
    background-color: #555;
}

.bottom-rangz{
    display: flex;
    background-color: #f0f0f0;
    padding: 40px
}

.about-rangz{
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
.about h2 {
    color: white;
    margin-bottom: 15px;
}

.rangz-photo{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.rangz-photo img{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0.0,0,0.1);
}
    